h1{
  color:#6497b1;
  padding-bottom: 0.5rem;
}

h4{
  color:#6497b1;
}

.sectionContainer{
  padding-top: 2rem;
  margin-left: 20%;
  margin-right: 20%;
}

.tabWrapper{
  background: #011f4b;
}

.footerLink{
  padding-left: 1rem;
  padding-right: 1rem;
}

footer{
  padding-top: 2rem;
  padding-bottom: 2rem;
}
