h1{
  color:#6497b1;
  padding-bottom: 0.5rem;
}

h4{
  color:#6497b1;
}

footer{
  padding-top: 2rem;
  padding-bottom: 2rem;
}


.body{ 
  background: #03396c;
  text-align: center;
}
.sectionContainer{
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 20%;
  margin-right: 20%;
}

.tabWrapper{
  background: #011f4b;
}

.footerLink{
  padding-left: 1rem;
  padding-right: 1rem;
}


#bannerContainer{
  position: relative;
  background: white;
}

#bannerImage{
  max-width: 100%;
}

#aboutMeRow{
  padding: 1rem;
}

#headshot{
  max-width: 100%;
  max-height: 100%;
  transform: rotate(90deg);
}

